<!-- Shared Payment/Pricing Component Template -->
<!-- To use this component, include it in your page and call the initialization script -->

<div class="pricing-plan-content" style="opacity:1">
  <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="pricing-plan-tabs w-tabs">
    <div class="pricing-plan-tabs-menu w-tab-menu">
      <a data-w-tab="Tab 1" class="pricing-plan-tab-link w-inline-block w-tab-link w--current">
        <div data-i18n="pricing.content.plans.monthly.name">Monthly</div>
      </a>
      <a data-w-tab="Tab 2" class="pricing-plan-tab-link w-inline-block w-tab-link">
        <div data-i18n="pricing.content.plans.annual.name">Yearly</div>
      </a>
    </div>
    <div class="pricing-plan-tabs-content w-tab-content">
      <!-- Monthly Tab -->
      <div data-w-tab="Tab 1" class="pricing-plan-tab-pane w-tab-pane w--tab-active">
        <div class="pricing-plan-main">
          <div class="pricing-plan-wrapper">
            <div class="w-layout-grid pricing-plan-grid">
              <!-- Features Column -->
              <div class="pricing-plan-featured-name-wrapper">
                <div class="pricing-plan-top-content">
                  <div class="pricing-plan-logo-wrapper"><img loading="lazy" src="images/Logo.svg" alt="" class="pricing-plan-logo-image"></div>
                  <div class="pricing-plan-man-image-wrap"><img loading="lazy" src="images/Pricing-Plan-Man-Image.png" alt="" class="pricing-plan-man-image"></div>
                </div>
                <div class="pricing-plan-featured-wrapper">
                  <div class="pricing-plan-featured-single featured-name"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="process.content.steps.1.title">Access All Courses</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name bg-none"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.community_support">Community Support</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.course_materials">Course Materials</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name bg-none"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.hands_on_projects">Hands-On Projects</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.career_support">Career Support</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name bg-none"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.support_sessions">Support Sessions</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.webinar_access">Access to Webinars</div>
                  </div>
                </div>
              </div>

              <!-- Plan 1 -->
              <div class="pricing-plan-featured-card-wrap border-left">
                <div class="pricing-plan-featured-collection-list-wrapper w-dyn-list">
                  <div role="list" class="pricing-plan-featured-collection-list w-dyn-items">
                    <div role="listitem" class="pricing-plan-featured-collection-item w-dyn-item">
                      <div class="pricing-plan-top-content">
                        <div class="pricing-plan-name-price-wrap">
                          <div class="pricing-plan-name"></div>
                          <div class="pricing-plan-price-wrap">
                            <div class="pricing-plan-price"></div>
                            <div class="pricing-pack-text" data-i18n="pricing.content.plans.monthly.period">Per Month</div>
                          </div>
                        </div>
                        <div class="pricing-plan-button-wrapper">
                          <a href="#" class="primary-button pricing w-inline-block">
                            <div class="primary-button-text-wrap">
                              <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                              <div style="-webkit-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block is-text-absolute" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="pricing-plan-featured-wrapper">
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div data-i18n="ui.content.messages.no_items">No items found.</div>
                  </div>
                </div>
              </div>

              <!-- Plan 2 (Featured) -->
              <div class="pricing-plan-featured-card-wrap border-left bg">
                <div class="pricing-plan-featured-collection-list-wrapper w-dyn-list">
                  <div role="list" class="pricing-plan-featured-collection-list w-dyn-items">
                    <div role="listitem" class="pricing-plan-featured-collection-item w-dyn-item">
                      <div class="pricing-plan-top-content">
                        <div class="pricing-plan-name-price-wrap">
                          <div class="pricing-plan-name"></div>
                          <div class="pricing-plan-price-wrap">
                            <div class="pricing-plan-price"></div>
                            <div class="pricing-pack-text" data-i18n="pricing.content.plans.monthly.period">Per Month</div>
                          </div>
                        </div>
                        <div class="pricing-plan-button-wrapper">
                          <a href="#" class="primary-button pricing w-inline-block">
                            <div class="primary-button-text-wrap">
                              <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                              <div style="-webkit-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block is-text-absolute" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="pricing-plan-featured-wrapper">
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div data-i18n="ui.content.messages.no_items">No items found.</div>
                  </div>
                </div>
              </div>

              <!-- Plan 3 -->
              <div class="pricing-plan-featured-card-wrap">
                <div class="pricing-plan-featured-collection-list-wrapper w-dyn-list">
                  <div role="list" class="pricing-plan-featured-collection-list w-dyn-items">
                    <div role="listitem" class="pricing-plan-featured-collection-item w-dyn-item">
                      <div class="pricing-plan-top-content">
                        <div class="pricing-plan-name-price-wrap">
                          <div class="pricing-plan-name"></div>
                          <div class="pricing-plan-price-wrap">
                            <div class="pricing-plan-price"></div>
                            <div class="pricing-pack-text" data-i18n="pricing.content.plans.monthly.period">Per Month</div>
                          </div>
                        </div>
                        <div class="pricing-plan-button-wrapper">
                          <a href="#" class="primary-button pricing w-inline-block">
                            <div class="primary-button-text-wrap">
                              <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                              <div style="-webkit-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block is-text-absolute" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="pricing-plan-featured-wrapper">
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div data-i18n="ui.content.messages.no_items">No items found.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Yearly Tab -->
      <div data-w-tab="Tab 2" class="pricing-plan-tab-pane w-tab-pane">
        <div class="pricing-plan-main">
          <div class="pricing-plan-wrapper">
            <div class="w-layout-grid pricing-plan-grid">
              <!-- Features Column -->
              <div class="pricing-plan-featured-name-wrapper">
                <div class="pricing-plan-top-content">
                  <div class="pricing-plan-logo-wrapper"><img loading="lazy" src="images/Logo.svg" alt="" class="pricing-plan-logo-image"></div>
                  <div class="pricing-plan-man-image-wrap"><img loading="lazy" src="images/Pricing-Plan-Man-Image.png" alt="" class="pricing-plan-man-image"></div>
                </div>
                <div class="pricing-plan-featured-wrapper">
                  <div class="pricing-plan-featured-single featured-name"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="process.content.steps.1.title">Access All Courses</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name bg-none"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.community_support">Community Support</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.course_materials">Course Materials</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name bg-none"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.hands_on_projects">Hands-On Projects</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.career_support">Career Support</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name bg-none"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.support_sessions">Support Sessions</div>
                  </div>
                  <div class="pricing-plan-featured-single featured-name"><img loading="lazy" src="images/Pricing-Plan-Featured-Icon.svg" alt="" class="pricing-plan-featured-icon">
                    <div class="pricing-plan-featured-name" data-i18n="pricing.content.features.webinar_access">Access to Webinars</div>
                  </div>
                </div>
              </div>

              <!-- Plan 1 -->
              <div class="pricing-plan-featured-card-wrap border-left">
                <div class="pricing-plan-featured-collection-list-wrapper w-dyn-list">
                  <div role="list" class="pricing-plan-featured-collection-list w-dyn-items">
                    <div role="listitem" class="pricing-plan-featured-collection-item w-dyn-item">
                      <div class="pricing-plan-top-content">
                        <div class="pricing-plan-name-price-wrap">
                          <div class="pricing-plan-name"></div>
                          <div class="pricing-plan-price-wrap">
                            <div class="pricing-plan-price"></div>
                            <div class="pricing-pack-text" data-i18n="pricing.content.plans.annual.period">Per Yearly</div>
                          </div>
                        </div>
                        <div class="pricing-plan-button-wrapper">
                          <a href="#" class="primary-button pricing w-inline-block">
                            <div class="primary-button-text-wrap">
                              <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                              <div style="-webkit-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block is-text-absolute" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="pricing-plan-featured-wrapper">
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div data-i18n="ui.content.messages.no_items">No items found.</div>
                  </div>
                </div>
              </div>

              <!-- Plan 2 (Featured) -->
              <div class="pricing-plan-featured-card-wrap border-left bg">
                <div class="pricing-plan-featured-collection-list-wrapper w-dyn-list">
                  <div role="list" class="pricing-plan-featured-collection-list w-dyn-items">
                    <div role="listitem" class="pricing-plan-featured-collection-item w-dyn-item">
                      <div class="pricing-plan-top-content">
                        <div class="pricing-plan-name-price-wrap">
                          <div class="pricing-plan-name"></div>
                          <div class="pricing-plan-price-wrap">
                            <div class="pricing-plan-price"></div>
                            <div class="pricing-pack-text" data-i18n="pricing.content.plans.annual.period">Per Yearly</div>
                          </div>
                        </div>
                        <div class="pricing-plan-button-wrapper">
                          <a href="#" class="primary-button pricing w-inline-block">
                            <div class="primary-button-text-wrap">
                              <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                              <div style="-webkit-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block is-text-absolute" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="pricing-plan-featured-wrapper">
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div data-i18n="ui.content.messages.no_items">No items found.</div>
                  </div>
                </div>
              </div>

              <!-- Plan 3 -->
              <div class="pricing-plan-featured-card-wrap">
                <div class="pricing-plan-featured-collection-list-wrapper w-dyn-list">
                  <div role="list" class="pricing-plan-featured-collection-list w-dyn-items">
                    <div role="listitem" class="pricing-plan-featured-collection-item w-dyn-item">
                      <div class="pricing-plan-top-content">
                        <div class="pricing-plan-name-price-wrap">
                          <div class="pricing-plan-name"></div>
                          <div class="pricing-plan-price-wrap">
                            <div class="pricing-plan-price"></div>
                            <div class="pricing-pack-text" data-i18n="pricing.content.plans.annual.period">Per Yearly</div>
                          </div>
                        </div>
                        <div class="pricing-plan-button-wrapper">
                          <a href="#" class="primary-button pricing w-inline-block">
                            <div class="primary-button-text-wrap">
                              <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                              <div style="-webkit-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 250%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-text-block is-text-absolute" data-i18n="misc.content.explore_plans">Explore Plans Features</div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="pricing-plan-featured-wrapper">
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper bg-none"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                        <div class="pricing-plan-featured-single featured-icon-wrapper"><img loading="lazy" src="" alt="" class="featured-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div data-i18n="ui.content.messages.no_items">No items found.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>