<!-- Shared Course Categories Card Component Template -->
<!-- Based on course-categories-single structure -->
<!-- Placeholders: {{LINK_URL}}, {{ICON_URL}}, {{ICON_ALT}}, {{TITLE}}, {{DESCRIPTION}}, {{DATA_I18N_TITLE}}, {{DATA_I18N_DESC}} -->

<a href="{{LINK_URL}}" class="course-categories-single w-inline-block">
  <div class="course-categories-hover-in-shape"></div>
  <div class="course-categories-typography">
    <div class="course-categories-icon-wrapper">
      <img src="{{ICON_URL}}" alt="{{ICON_ALT}}" class="course-categories-icon" />
    </div>
    <h4 class="course-categories-name" data-i18n="{{DATA_I18N_TITLE}}">{{TITLE}}</h4>
    <p class="course-categories-description-text" data-i18n="{{DATA_I18N_DESC}}">{{DESCRIPTION}}</p>
  </div>
</a>