<!-- Why Choose Us Card Template -->
<div class="why-choose-us-single">
  <div class="why-choose-us-icon-wrapper">
    <img src="{{iconUrl}}" loading="lazy" alt="{{iconAlt}}" class="why-choose-us-icon">
  </div>
  <div class="why-choose-us-slider-typography">
    <h4 class="why-choose-us-slider-card-name" data-i18n="{{i18nTitle}}">
      {{title}}
    </h4>
    <div class="why-choose-us-card-line"></div>
    <p class="why-choose-us-description-text" data-i18n="{{i18nDesc}}">
      {{description}}
    </p>
  </div>
</div>